@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title:</h2>


<p>You can find here how to create backup jobs, how to communicate with tapes,</p>
<p>how to restore things (start from single file or mail to entire vm and database) and more.</p>
<p>if you think someting is missing please contact me <a href="~/Home/Contact">here</a>.</p>
