@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title:</h2>

<p>You can contact me here</p>
<address>
    <strong>Support:</strong>   <a href="mailto:NofarE@elad.co.il">NofarE@elad.co.il</a><br />
</address>