
@{
    ViewBag.Title = "Register";
}


<!DOCTYPE html>
<html>
<h2>@ViewBag.Title:</h2>

<body bgcolor="gold" font-color="red">
    <script>
        function validate() {
            var emptid = document.forms["myForm"]["id"].value;
            var emptname = document.forms["myForm"]["name"].value;
            var emptpass1 = document.forms["myForm"]["pass1"].value;
            var emptpass2 = document.forms["myForm"]["pass2"].value;
            if (emptid == "" || emptname == "" || emptpass1 == "" || emptpass2 == "") {
                alert("Please input a Value");
                return false;
            }
            if (emptpass1 != emptpass2) {
                alert("the Password and the Repeate Password must be identical");
                return false;
            }
          
            return true;
         }
           
    
    </script>
    <form action="/home/Reg_user" method="post" name="myForm" onsubmit="return(validate());">
        <table  border='0' width='480px' cellpadding='0' cellspacing='0' align='center'>

            <tr>
                <td align="center">ID</td>
                <td><input type="text" name="id" /></td>
            </tr>
            <tr> <td>&nbsp;</td> </tr>
            <tr>
                <td align="center">name</td>
                <td><input type="text" name="name" /></td>
            </tr>
            <tr> <td>&nbsp;</td> </tr>
            <tr>
                <td align="center">password</td>
                <td><input type="text" name="pass1" /></td>
            </tr>
            <tr> <td>&nbsp;</td> </tr>
            <tr>
                <td align="center">Repeate Password</td>
                <td><input type="text" name="pass2" /></td>
                </td>
            </tr>
            <tr> <td>&nbsp;</td> </tr>
            <tr>
                <td align="center"></td>
                <td><input type="submit" value="Submit" /></td>
            </tr>

        </table>
    </form>
   

</body>
</html>
